* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    background: #fc0f03;
}

p {
    color: #ccc;
}

canvas {
    width: 100%;
    height: auto;

}

img {
    position: absolute;
    transform: translate(-50%, -50%) scale(0.5);
}